[Unit]
Description=Run certbot renew and reload nginx if certificates renewed
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --deploy-hook "/bin/systemctl reload nginx"
Nice=10

[Install]
WantedBy=multi-user.target
